<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- Do not use unsupported settings: -->

	<!-- Do not alter connection pool and/or database client/server settings: -->
	<!-- - defaultStatementTimeout not used -->
	<!-- - multipleResultSetsEnabled, statementCachingEnabled set to false -->

	<!-- Turn of optimization settings: cacheEnabled because we need to review how we share objects in a same transaction -->

	<settings>
		<setting name="cacheEnabled" value="false"/>
		<setting name="localCacheScope" value="STATEMENT"/>
		<setting name="multipleResultSetsEnabled" value="false"/>
		<setting name="lazyLoadingEnabled" value="true"/>
		<setting name="aggressiveLazyLoading" value="false"/>
		<setting name="useColumnLabel" value="true"/>
		<setting name="defaultExecutorType" value="REUSE"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeHandlers>
		<typeHandler handler="com.woonoz.auth.dao.handlers.DefaultUserIdTypeHandler"/>
	</typeHandlers>
</configuration>