<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Fri Oct 21 17:05:47 CEST 2016-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woonoz.pv.progdash.dao.mapper.ModuleMapper">

	<resultMap id="moduleInfoMap" type="com.woonoz.pv.progdash.dao.dbo.ModuleInfoDbo">
		<constructor>
			<arg column="productId" javaType="Long"/>
			<arg column="key" javaType="String"/>
			<arg column="routeIndex" javaType="Long"/>
			<arg column="nbrOfRules" javaType="Integer"/>
			<arg column="absPos" javaType="Integer"/>
		</constructor>
	</resultMap>

	<select id="getModulesInfo" resultMap="moduleInfoMap">
	SELECT `productId`, `key`, `routeIndex`, `nbrOfRules`, pos AS `absPos` from (
		SELECT pr.id AS productId, pr.nom AS `key`, ro.id as routeIndex , pr.regles AS `nbrOfRules`, app_pr.position as pos
				FROM woonoz_groupe_p sphere
				LEFT JOIN scenario sc ON sc.id = sphere.scenario_id
				LEFT JOIN scenario_element sc_el ON sc_el.scenario_id = sc.id
				LEFT JOIN route ro ON sc_el.route_id = ro.id
				LEFT JOIN route_element ro_el ON ro_el.route_id = ro.id
				LEFT JOIN pv_produit pr ON ro_el.product_id = pr.id
				INNER JOIN application_product app_pr ON app_pr.product_id = ro_el.product_id
				WHERE sphere.id_groupe_p = #{areaId}
		UNION
		SELECT pr.id AS productId, pr.nom AS `key`, 0 as routeIndex, pr.regles AS `nbrOfRules`, app_pr.position as pos
				FROM optional_product_history oph
				JOIN optional_product_groupe_p opgp ON oph.id = opgp.optional_product_history_id
				LEFT JOIN pv_produit pr ON oph.product_id = pr.id
				INNER JOIN application_product app_pr ON app_pr.product_id = pr.id
				WHERE opgp.groupe_p_id = #{areaId}
	ORDER BY routeIndex, pos) res;
	</select>

</mapper>