<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Fri Oct 21 17:05:47 CEST 2016-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woonoz.pv.progdash.dao.mapper.ProgressMapper">

		<select id="getProgressData" resultType="com.woonoz.pv.progdash.dao.dbo.ProgressDbo">
		SELECT
			wgpm.id_membre userId,
			ukps.keypoint_id keypointId,
			ukps.max_weight maxWeight,
			DATE(MAX(ls.start_date)) lastdate

		FROM woonoz_groupe_p_membre wgpm
			     JOIN user_keypoint_state ukps ON ukps.user_id = wgpm.id_membre
			     JOIN learning_group_reference lgr ON lgr.learning_group_id_reference = ukps.keypoint_id
			     JOIN learning_session ls ON ls.user_id = wgpm.id_membre AND ls.mode = 'learn'
			     JOIN module_element me ON me.module_id = ls.learning_activity_id AND me.chapter_id = lgr.learning_group_id

		WHERE wgpm.id_membre IN <foreach collection="userIds" item="item" separator="," open="(" close=")">#{item}</foreach>
		  AND wgpm.user_role = 'learner'
		GROUP BY ls.user_id, keypoint_id;
	</select>

</mapper>