<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Fri Oct 21 17:05:47 CEST 2016-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woonoz.pv.progdash.dao.mapper.UserCredentialsMapper">

	<resultMap id="userIdResultMap" type="com.woonoz.auth.model.DefaultUserId">
		<id property="id" column="id_membre"/>
	</resultMap>

	<resultMap id="userDetailsMap" type="com.woonoz.pv.progdash.dao.dbo.UserDetailsDbo">
		<id property="userId" column="id_membre" typeHandler="com.woonoz.auth.dao.handlers.DefaultUserIdTypeHandler"/>
		<result property="superAdmin" column="superadmin"/>
		<result property="status" column="statut_membre"/>
		<result property="pseudo" column="pseudo_membre"/>
		<collection property="areaDetails" resultMap="areaDetailsMap"/>
		<collection property="universeDetails" resultMap="universeDetailsMap"/>
	</resultMap>

	<resultMap id="areaDetailsMap" type="com.woonoz.pv.progdash.dao.dbo.AreaDetailsDbo">
		<id property="areaId" column="area_id"/>
		<result property="role" column="area_role"/>
		<result property="universeId" column="area_universe_id"/>
	</resultMap>

	<resultMap id="universeDetailsMap" type="com.woonoz.pv.progdash.dao.dbo.UniverseDetailsDbo">
		<id property="universeId" column="universe_id"/>
		<result property="role" column="universe_role"/>
	</resultMap>

	<select id="getPseudonym" resultType="java.lang.String">
		SELECT pseudo_membre
		FROM woonoz_membre
		WHERE id_membre = #{userId.id}
	</select>

	<select id="getUserId" resultMap="userIdResultMap">
		SELECT id_membre
		FROM woonoz_membre
		WHERE pseudo_membre = #{pseudo}
	</select>

	<select id="getPasswordHash" resultType="java.lang.String">
		SELECT password_hash
		FROM woonoz_membre
		WHERE id_membre = #{userId.id}
	</select>

	<select id="loadUserDetails" resultMap="userDetailsMap">
		SELECT wm.id_membre,
		wm.statut_membre,
		wm.pseudo_membre,
		area.id_groupe_p AS area_id,
		area.id_univers AS area_universe_id,
		area.user_role AS area_role,
		universe.id_univers AS universe_id,
		universe.user_role AS universe_role
		FROM woonoz_membre wm
		LEFT JOIN (
			SELECT wgpm.id_membre,
			wgpm.id_groupe_p,
			wgpm.user_role,
			wgp.id_univers
			FROM woonoz_groupe_p_membre wgpm
			JOIN woonoz_groupe_p wgp ON wgp.id_groupe_p = wgpm.id_groupe_p) area ON area.id_membre = wm.id_membre
		LEFT JOIN (
			SELECT um.id_membre,
			um.user_role,
			um.id_univers
			FROM univers_membre um) universe ON universe.id_membre = wm.id_membre
		WHERE wm.id_membre = #{userId.id}
	</select>

</mapper>